.signal {
  width: 300px;
}

.car-right {
  transform: translateX(90vw);
  width: 100px;
  transition: 3s;
}

.car-left {
  width: 100px;
  transition: 3s;
}

.button-container {
  display: flex;
  justify-content: space-around;
  width: 300px;
}
